header {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0px 20px;
    background-color: rgb(61, 61, 240);
}

header ul {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 100%;
}

header ul li {
    width: 100%;
    padding: 0 20px;

}

header ul li  img{
    size: 20px;
}